#countdown-container {
  height: 30px;
  width: 500px;
  border-style: solid;
  border-width: 2px;
  padding: 0 0 0 0;
  margin-bottom: 2px;
}

#countdown-bar {
	height: 100%;
	width: 0%;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #00F;
}


#target-zone {
  height: 500px;
  width: 500px;
  float: left;
  border-style: solid;
  border-width: 2px;
}

#feedback {
  width: 200px;
  height: 500px;
  float: left;
  text-align: center;
}

#description {
	margin-top: 200px;
}
#buttondesc {
	margin-top: 20px;
}
#start {
  margin-top: 10px;
}

.target {
    position:absolute;
    background: url("https://i0.wp.com/edge.alluremedia.com.au/m/k/2014/12/target.png");
    background-size: 50px 50px;
    width:50px;
    height:50px;    
	border-radius: 25px;
}
